# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Config & Credentials
.env

# Database
database/*.db

# ML models (large files)
ml_models/*.dat
ml_models/*.pt

# OS specific files
.DS_Store
Thumbs.db
